<div class="center-container">
  <img src="../../../assets/gitlogo.png" alt="GitHub Logo" class="github-logo">
  <h2>Buscar Repositórios no GitHub</h2>
  <input class="input-text" type="text" [(ngModel)]="searchQuery" placeholder="Nome de usuário Github">
  <div class="button-container">
    <button class="button" (click)="searchRepositories()">Buscar</button>
    <button class="button" (click)="goBack()">Voltar</button>
  </div>
  <div *ngIf="repositories.length > 0">
    <h3>Repositórios encontrados:</h3>
    <ul>
      <li *ngFor="let repo of repositories">
        <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
        <p>{{ repo.description }}</p>
        <p>Estrelas: {{ repo.stargazers_count }}</p>
      </li>
    </ul>
  </div>
</div>